Conversion of csv to html

In [1]:
import pandas as pd

In [2]:
data_csv=pd.read_csv("City_Summary.csv")

In [3]:
data_csv.head()

,City,Cloudiness,Country,Date / Time,Humidity,Lat,Lon,Max Temp,Wind Speed
0,Nabari,75,JP,2017-10-29 17:16:00 PM,58,34.62,136.08,55.40,21.92
1,Volya,0,RU,2017-10-29 17:30:00 PM,81,51.77,39.54,42.80,8.95
2,Eregli,20,TR,2017-10-29 18:22:06 PM,97,37.51,34.05,46.11,1.83
3,Carlogani,0,RO,2017-10-29 18:00:00 PM,66,44.52,24.15,48.20,18.34
4,Rome,20,US,2017-10-29 17:55:00 PM,52,34.26,-85.16,46.40,8.05

In [4]:
data_csv.to_html("city_data.html")